@import "tailwindcss";

@theme {
  --color-contrast: #ffffff;
  --color-primary: #99a1af;
  --color-primary-muted: #4a5565;
  --color-accent: #1fe577;
  --color-accent-muted: #1ea75e;
  --color-danger: #ff6467;
  --color-attention: #ff8904;
  
  --color-bg-primary: #16181c;
  --color-bg-secondary: #26292f;
  --color-bg-secondary-muted: #1e2125;
}

*{
  font-family: "Inter", sans-serif;
}

body{
  @apply w-full max-w-[80rem] mx-auto my-32 px-4 bg-bg-primary text-primary relative;
}